body{
    background-color: lightgray;
}

div{
    border: 1px solid royalblue;
    border-radius: 15px;
    margin:10px;
    text-align: center;
}

body{
    width: 60%;
    margin: 0 auto;

}

.welcome{
    font-size: 50px;
    text-align: center;
    color: darkmagenta;
}

.enjoy{
    font-size: 35px;
    text-align: center;
    color: lightseagreen;
}

h1{

}

header{
    text-align: center;
    font-size: 50px;
    font-family: Impact, Charcoal, sans-serif;
}